/* uniquesalon.ro website by Catalin Trasca */

/* import framework & things */
@import url('https://unpkg.com/chota@latest');
@import url('https://fonts.googleapis.com/css?family=Bitter:400,400i,700|Oswald:300,400,500,700|Courgette');

/* root */
:root {
	--primary-color: #b59472;
	--darkGrey-color: #84868b;
	--lightGrey-color: #d2d6dd;
	--container-width: 1440px;
	--container-text-width: 720px;
	--container-width-small: 1020px;
	--font-Bitter: 'Bitter', serif;
	--font-Oswald: 'Oswald', sans-serif;
	--font-Courgette: 'Courgette', cursive;
}

/* main */
body>.container {
	max-width: var(--container-width);
}

body>.container-small {
	max-width: var(--container-width-small);
	margin: 0 auto;
	width: 96%;
	padding: 0 calc(var(--grid-gutter)/2);
}

body>footer {
	background-color: #000;
	color: white;
	padding: 4rem;
}

section {
	margin: 5rem auto;
}

hr {
	margin: 3rem 0;
}

/* imp classes */
.hero {
	display: flex;
	flex-direction: column;
}

.logo {
	flex: 1;
	flex-direction: column;
}

.logo img {
	width: 100%;
	max-width: 400px;
}

.logo h1 {
	display: block;
	font-size: 55px;
	font-weight: 300;
	font-family: var(--font-Oswald);
}

.logo p {
	font-size: 20px;
	font-style: normal;
	letter-spacing: 3px;
	line-height: 10px;
}

/* override stock elements */
nav {
	font-family: var(--font-Oswald);
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
	padding: 12.5px
}

.tabs>a {
	border-bottom: 2px solid white;
	color: white;
	transition: 0.5s;
}

.tabs>a:hover {
	border-bottom: 2px solid #3b5998;
	transition: 0.5s;
}

/* custom */
.title {
	font-family: var(--font-Oswald);
	font-size: 52px;
	line-height: 50px;
	font-weight: 700;
	text-align: center;
}

.pretitle {
	font-family: var(--font-Bitter);
	font-size: 15px;
	line-height: 18px;
	letter-spacing: 3px;
	font-style: italic;
	text-align: center;
}

.nav-title {
	font-family: var(--font-Courgette);
	font-size: 32px;
}

.footer-title {
	font-family: var(--font-Courgette);
	font-size: 52px;
	line-height: 40px;
	text-align: center;
}

.barber-title {
	font-family: var(--font-Oswald);
	font-size: 40px;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
}

.icon-title {
	font-family: var(--font-Oswald);
	color: var(--darkGrey-color);
}

.icon-size img {
	height: auto;
	width: 112px;
}

.image-cover {
	height: 100%;
	background-size: cover;
	background-position: center center;
	position: relative;
}

.image-landing {
	border-radius: 50%;
	width: 245px;
}

.black-bg {
	background: black;
	padding: 15px;
	width: 100%;
}

.text-container {
	max-width: var(--container-text-width);
	font-size: 20px;
	text-align: center;
	letter-spacing: 3px;
}

.little-spacing {
	letter-spacing: 1.5px !important;
}

/* colors */
.white-text {
	color: white;
}

.colored {
	color: var(--primary-color);
}

/* id's */
#tools-bg {
	background-image: url('../res/background/tools-bg-2.jpg');
}

#map {
	height: 500px;
	width: 100%;
	border-top: 2px solid #000;
}

/**********/ /**********/
/**********/ /**********/
/***** SECTION TWO *****/
/**********/ /**********/
/**********/ /**********/

/* sidebar */
.navigation {
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 100%;
	box-shadow: none;
	background-color: transparent;
	position: fixed;
	height: 75px !important;
	overflow: hidden;
	z-index: 10;
}

.main {
	margin: 0 auto;
	display: block;
	height: 100%;
	margin-top: 60px;
}

.mainInner{
	display: table;
	height: 100%;
	width: 100%;
	text-align: center;
}

.mainInner div{
	display:table-cell;
	vertical-align: middle;
	font-size: 3em;
	font-weight: bold;
	letter-spacing: 1.25px;
}

#sidebarMenu {
	height: 100%;
	position: fixed;
	left: 0;
	width: 250px;
	margin-top: 60px;
	transform: translateX(-250px);
	transition: transform 250ms ease-in-out;
	background: #000;
}

.sidebarMenuInner{
	font-family: var(--font-Oswald);
	margin:0;
	padding:0;
	border-top: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner li{
	list-style: none;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	padding: 20px;
	cursor: pointer;
	border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner li span{
	display: block;
	font-size: 14px;
	color: rgba(255, 255, 255, 0.50);
}

.sidebarMenuInner li a{
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
}

input[type="checkbox"]:checked ~ #sidebarMenu {
	transform: translateX(0);
}

input[type=checkbox] {
	transition: all 0.3s;
	box-sizing: border-box;
	display: none;
}

.sidebarIconToggle {
	transition: all 0.3s;
	box-sizing: border-box;
	cursor: pointer;
	position: absolute;
	z-index: 99;
	height: 100%;
	width: 100%;
	top: 31.5px;
	left: 26.5px;
	height: 23px;
	width: 23px;
}

.spinner {
	transition: all 0.3s;
	box-sizing: border-box;
	position: absolute;
	height: 3px;
	width: 100%;
	background-color: #fff;
}

.horizontal {
	transition: all 0.3s;
	box-sizing: border-box;
	position: relative;
	float: left;
	margin-top: 3px;
}

.diagonal.part-1 {
	position: relative;
	transition: all 0.3s;
	box-sizing: border-box;
	float: left;
}

.diagonal.part-2 {
	transition: all 0.3s;
	box-sizing: border-box;
	position: relative;
	float: left;
	margin-top: 3px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
	transition: all 0.3s;
	box-sizing: border-box;
	opacity: 0;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
	transition: all 0.3s;
	box-sizing: border-box;
	transform: rotate(135deg);
	margin-top: 8px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
	transition: all 0.3s;
	box-sizing: border-box;
	transform: rotate(-135deg);
	margin-top: -9px;
}
